<section class="jumbotron text-center">
  <h1>Write a Comment for ''!</h1>
  <h3>Make a Comment</h3>
</section>

<section class="container-fluid">

  <%= render 'form', object: @comment %>

</section>