<section class="jumbotron text-center">
  <h1>Edit Article</h1>
  <h3>You are now editing an existing article</h3>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: true %>

</section>