<section class="jumbotron text-center">
  <h1>Listing all Articles</h1>
  <br />
  <h3><%= link_to 'Create a new article', new_article_path, class: 'btn btn-lg btn-success' %></h3>
</section>

<section class="container-fluid">

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= will_paginate @all_articles%>
  </div>

  <%= render 'shared/article', obj: @all_articles %>

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= will_paginate @all_articles%>
  </div>

</section>