<section class="jumbotron text-center">
  <h1>Create Article!</h1>
  <h3>Author a new article on AlphaBlog now!</h3>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: false%>

</section>