<section class="jumbotron text-center">
  <h1>Create Article!</h1>
  <h3>Author a new article on AlphaBlog now!</h3>
</section>

<section class="container-fluid">

  <% if @article.errors.any? %>
      <h3>Your article has the following errors:</h3>
      <ul style="margin-bottom: 2em">
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <%= render partial: 'form', locals: {show_delete: false} %>

</section>