<section class="jumbotron text-center">
  <h1><%= @article.title %></h1>
  <h3><%= @article.created_at %></h3>
</section>

<section class="container-fluid">
  <p><%= @article.description %></p>
  <p><%= link_to 'Edit Article', edit_article_path(@article) %></p>
</section>