<section class="jumbotron text-center">
  <h1>Listing all Users</h1>
  <br />
  <h3><%= link_to 'Create a new user', signup_path, class: 'btn btn-lg btn-success' %></h3>
</section>

<section class="container-fluid">

  <% @users.each do |user| %>

      <article class="container article col-md-8 col-md-offset-2 text-center">
        <%= link_to gravatar_for(user, classes: 'img-circle profile-pic center'), user_path(user) %>
        <div class="row">
          <div class="col-md-12 article-title text-center">
            <h2><%= link_to user.username, user_path(user) %></h2>
            <p><%= pluralize(user.articles.count, "articles") %></p>
          </div>
        </div>
      </article>

  <% end %>

</section>