<section class="jumbotron text-center">
  <h1>Listing all Users</h1>
  <br />
  <h3><%= link_to 'Create a new user', signup_path, class: 'btn btn-lg btn-success' %></h3>
</section>

<section class="container-fluid">

  <% @users.each do |user| %>

      <article class="container article">
        <div class="row">
          <div class="col-md-6 article-title">
            <h2><%= link_to user.username, user_path(user) %></h2>
          </div>
        </div>
      </article>

  <% end %>

</section>