@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

section.container-fluid{
  padding: 3em 8em;
  font-size: 1.15em;
  text-align: justify;
}

img:not(.img-circle){
  padding-top: 2em;
}

article.article{
  border: thin solid grey;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 1em;
}

  .article .row{
    display: block;
    height: 5em;
  }

  .article-title h2{
    padding-top: 0;
    margin-top: 0;
  }

  .article-user-name{
    display: block;
    height: 5em;
  }

  .article small{
    display: inline-block;
    vertical-align: baseline;
    float: right;
    text-align: right;
    font-size: 1em;
  }

#home-jumbo{
  background: asset_url('night-mountain.jpg') center 13%;
  background-size: cover;
  color: white;
  font-weight: bolder;
  height: 30em;
}

ul.no-bullets{
  padding: 0;
}

li.article-list-item{
  list-style: none;
  display: block;
  padding: 1em 0.5em;
  border-bottom: thin solid grey
}

  li.article-list-item:hover{
    background-color: #eeeeee;

  }

  span.right{
    float: right;
    font-size: 0.9em;
  }

  span.bigger{
    font-size: 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 2em;
  }

.subheader{
  margin-top: 0;
  border-bottom: thin solid grey;
  padding-bottom: 0.5em;
}

.btn{
  padding-left: 1em;
  padding-right: 1em;
  min-width: 8em;
}