<section class="jumbotron text-center">
  <h1>Categories</h1>
  <h3>Make a new category for articles now!</h3>
</section>

<section class="container-fluid">

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= will_paginate @categories%>
  </div>

  <% @categories.each do |category| %>

      <article class="container article col-md-8 col-md-offset-2 text-center">
        <h2><%= link_to category.name, category_path(category) %></h2>
        <br />
        <smal><%= pluralize(category.articles.count, "article") %></smal>
      </article>

  <% end %>

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= will_paginate @categories %>
  </div>

</section>
