<section class="jumbotron text-center">
  <h1>Create a Category!</h1>
  <h3>Make a new category for articles now!</h3>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: false %>

</section>